/* main style */
*, :after, :before {
    box-sizing: inherit
}
html {
    box-sizing: border-box
}
body {
    margin: 0;
    padding: 0;
}

/* table */
.table__container {
    --main-color: #48aae6;
    --add-button-color: #f3a500;
    --add-button-hover-color: #f6c052;
    --del-button-color: #b20000;
    --del-button-hover-color: #ca4c49;
    display: inline-block;
    position: relative;
    padding: 50px;
}
.table {
    border-spacing: 2px;
 }
.table tbody {
    display: block;
    border: 1px solid var(--main-color);
}
.table tr td {
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
}

/* buttons */
.button {
    width: 50px;
    height: 50px;
    border: none;
    color: #fff;
    padding: 0;
    transition: all 0.3s linear;
    position: absolute;
    cursor: pointer;
    font-size: 18px;
}
.add {
    background-color: var(--add-button-color);
}
.add:hover {
    background-color: var(--add-button-hover-color);
}
.add_row {
    left: 55px;
}
.add_col {
    right: 0;
    top: 55px;
}
.del {
    background-color: var(--del-button-color);
    display: none;
}
.del:hover {
    background-color: var(--del-button-hover-color);
}
.del_row {
    left: 0;
    top: 55px;
}
.del_col {
    top: 0;
    left: 55px;
}
.show {
    display: block;
}