header.header
    .table__container
        .table#table
            .table__row(data-row="0")
                .table__cell(data-col="0")
                .table__cell(data-col="1")
                .table__cell(data-col="2")
                .table__cell(data-col="3")
            .table__row(data-row="1")
                .table__cell(data-col="0")
                .table__cell(data-col="1")
                .table__cell(data-col="2")
                .table__cell(data-col="3")
            .table__row(data-row="2")
                .table__cell(data-col="0")
                .table__cell(data-col="1")
                .table__cell(data-col="2")
                .table__cell(data-col="3")
            .table__row(data-row="3")
                .table__cell(data-col="0")
                .table__cell(data-col="1")
                .table__cell(data-col="2")
                .table__cell(data-col="3")
        .table__buttons#buttons
            #add-btn
                .table__button.table__add-row#add-row
                    span
                    span
                .table__button.table__add-col#add-col
                    span
                    span
            #del-btn
                .table__button.table__del-row#del-row
                    span
                .table__button.table__del-col#del-col
                    span